@font-face{
    font-family:'kopubDotum';
    src:url('KoPubWorld-Dotum-Light.woff') format('woff');
    font-style:normal;
    font-weight:300;
    }
    
    @font-face{
    font-family:'kopubDotum';
    src:url('KoPubWorld-Dotum-Medium.woff') format('woff');
    font-style:normal;
    font-weight:500;
    }
    
    @font-face{
    font-family:'kopubDotum';
    src:url('KoPubWorld-Dotum-Bold.woff') format('woff');
    font-style:normal;
    font-weight:bold,700;
    }